<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UserDatabaseContainer" connectionString="metadata=res://*/UserDatabase.csdl|res://*/UserDatabase.ssdl|res://*/UserDatabase.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;C:\Users\brk\Documents\visual studio 2012\Projects\NordnetApiPoc\SocialStockMarket\App_Data\aspnet-SocialStockMarket-20131130180703.mdf&quot;;initial catalog=aspnet-SocialStockMarket-20131130180703;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>